spring:
  application:
    name: agent
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      key-prefix: "EA:"
  ai:
    vectorstore:
      redis:
        initialize-schema: true
        index-name: easy-vectorstore
        prefix: "${spring.data.redis.key-prefix}embedding:"

    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: ${OPENAI_BASE_URL}
      chat:
        options:
          model: ${OPENAI_MODEL}

server:
  port: 8881

searxng:
  url: ${SEARXNG_URL}
  count: ${SEARXNG_COUNT}